<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header class="home__header">
        <div class="home__header__logo">
            <img src="/images/logo.jpg" alt="logo">
        </div>
        <button><i></i></button>
        <nav class="home__header__menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">vienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <section class="home__main__section">
            <article class="home__main__section__product">
                <div>
                    <img src="/images/img-descuento.png" alt="descuento">
                    <img src="/images/img-pdto-1.jpg" alt="producto 1">
                    <a href=""></a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia modi cum earum dolorum rem aperiam corrupti!</p>
            </article>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>