<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header class="home__header">
        <div class="home__header__logo">
            <img src="/images/logo.jpg" alt="logo">
        </div>
        <button><i></i></button>
        <nav class="home__header__menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">vienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <section class="home__main__section__baner">
            <img src="/public/images/img-banner.jpg" alt="">
        </section>
        <section class="home__main__section">
            <article class="home__main__section__product">
                <div class="home__main__section__product__div">
                    <img class="home__main__section__product__descuento" src="/images/img-descuento.png" alt="descuento">
                    <img class="home__main__section__product__final" src="/images/img-pdto-1.jpg" alt="producto 1">
                    <a class="home__main__section__product__zoom" href="">ampliar foto</a>
                </div>
                <h2 class="home__main__section__product__h2">Lorem, ipsum dolor.</h2>
                <p class="home__main__section__product__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia modi cum earum dolorum rem aperiam corrupti!</p>
                <a href="home__main__section__product__a">ver mas</a>
            </article>
        </section>
    </main>
    <footer>
        <nav class="home__footer__menu">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">vienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>